*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px 'Kumbh Sans', sans-serif;
}

:root{
    /* Primary */
    --cyanD: hsl(185, 75%, 39%);
    --Dblue: hsl(229, 23%, 23%);
    --Gblue: hsl(227, 10%, 46%);
    
    /* Neutral */
    --Dgray: hsl(0, 0%, 59%);
}

/* circle */
body{
    background: var(--cyanD);
    background-image: url(/images/bg-pattern-top.svg), url(/images/bg-pattern-bottom.svg);
    background-repeat: no-repeat, no-repeat;
    background-position: top -65vh right 50vw, top 50vh left 50vw;
}

/* card */

/* attribution */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }