*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: 18px 'Kumbh Sans', sans-serif;
}

:root{
    /* Primary */
    --cyanD: hsl(185, 75%, 39%);
    --Dblue: hsl(229, 23%, 23%);
    --Gblue: hsl(227, 10%, 46%);
    /* Neutral */
    --Dgray: hsl(0, 0%, 59%);
}

body{
    background: var(--cyanD) no-repeat;
    
    
    /* width: 100vw;
    height: 730px */
}

/* body,.container,.circle{
    
} */
.container{
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

/* circle */
/* .circle{ */

/* } */
.c1{
    display: absolute;
    transform: translate(-20%,-50%)
}

.c2{
    display: absolute;
    transform: translate(80%,-60%)
}

/* card */

/* attribution */
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }